html {
  // background: red;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $purple;
  padding: 0;
  margin: 0;

  // @include breakpoint($SmMdLg) {
  //   background: $white;
  //   padding: 0;
  //   margin: 0;
  // }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // max-width: 1450px;
  // grid-template-rows: auto;
  background-repeat: repeat-y;
  background-position: center top;
  margin: -1px auto 0px;
  padding: 0 0 10px 0;
  background-image: url(/static/img/white_back_patt.png);

  @include breakpoint($SmMdLg) {
    background: $white;
  }
}

header, footer {
  grid-column: 2 / span 10;

  @include breakpoint($SmMdLg) {
    grid-column: 1 / span 12;
  }
}

header {
  grid-row: 1;
}

footer {
  grid-row: 5;
}

nav {
  grid-column: 2 / span 10;
  margin-top: -3em;
  margin-bottom: 1em;


  @include breakpoint($SmMdLg) {
    grid-column: 2 / span 10;
    margin-top: -1.5em;
    // margin-bottom: 1em;
  }

}

.nav_gall {
  grid-column: 4 / span 6;
  grid-row: 3;
}

// ###########################
// ###########################

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 3 / span 9;
  grid-row: 4;
  grid-auto-flow: row;
  max-width: 1000px;
  // margin: auto;

  @include breakpoint($SmMdLg) {
    grid-column: 2 / span 11;
  }

  aside.col1 {
    grid-column: 1 / span 3;

    @include breakpoint($SmMdLg) {
      grid-column: 1 / span 12;
      margin: 1em 0;
    }

  }

  // Home
  section.home {
    grid-column: span 8;
    padding: 0 1em 0 1em;

    @include breakpoint($SmMdLg) {
      grid-column: span 11;
      padding: 0 1em 0 0em;
    }

    @include breakpoint($sm) {
      grid-column: 1 / span 11;
    }

  }

  // 2 Columns
  section.shop,
  section.twoCol {
    grid-column: 2 / span 9;

    @include breakpoint($SmMdLg) {
      grid-column: 2 / span 9;
    }

    @include breakpoint($sm) {
      grid-column: 2 / span 9;
    }

  }

  section.contactContent {
    grid-column: 3 / span 7;
      // background: DarkSeaGreen;

      @include breakpoint($SmMdLg) {
        grid-column: 1 / span 11;
      }

      @include breakpoint($sm) {
        grid-column: 1 / span 11;
      }
    }

  // 3rd Column - Social Icons
  aside.col3 {
    grid-column: span 1;

    @include breakpoint($sm) {
      //
    }

  }


}


body.contact aside.col3 {
  grid-column: span 1;
  // background: red;
}
