@import 'colors';
@import 'base';
@import 'fonts';
@import 'mixins';
@import 'mortar';
@import 'layout';
@import 'styles';
@import 'transitions';
// @import 'modal';

// OTHER STYLES TEMP
// @import 'header';
// @import 'nav';
// @import 'footer';
// @import 'nav_gallery';
// @import 'type';
// @import 'contact';
// @import 'social';
// @import 'gallery';


// #############
