.headerArt {
  width: 100%;
  background-image: url(../img/headerC.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 33%;
  margin-top: -2px;

  @include media($mobile) {
    background-image: url(../img/header_mobile.svg);
    // background-image: url(../img/headerC.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 83%;
    height: 0;
    padding: 0;
    padding-bottom: 66%;
    margin-top: -3em;
    margin-bottom: 0em;

  }
}
