nav {
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
  margin: 0 auto;
  width: 680px;
  height: 121px;
}

nav ul {
  font-family: 'witchedregular';
  font-size: 30px;
  margin: 0 auto;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
  height: 121px;
}

nav ul li {
  white-space: nowrap;
  display: block;
  float: left;
  color: $grey;
  height: 119px;
  width: 121px;
}

nav ul li a {
  color: $grey;
}

nav ul li.first {
  padding-left: 0;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li.last {
  padding-right: 0;
}

nav ul li {
  padding: 0px;
  list-style-type: none;
  text-align:center;
}

/* NAVVY LI */
nav li {
  color: $grey;
  line-height: 125px;
  width: 119px;
  height: 121px;
}

  nav li a:link {
    color: $grey;
    display: block;
    height: 121px;
  }

  nav li a:hover {
    color: $grey;
    height: 121px;
  }

     /*HOME BTN*/
    #index nav li.index a:link {
      color: $grey;
      background-image: url(~assets/img/buttons/home-btn-hover.png);
      background-position: 12px 0px;
      background-repeat: no-repeat;
      margin: 0 0 0 0;
    }

      nav li.index a:hover {
        color: $grey;
        background-image:url(~assets/img/buttons/home-btn-hover.png);
        background-position: 12px 0px;
        background-repeat: no-repeat;
        margin: 0 0 0 0;
      }

    #artist_statement nav li.index a:link {
      color: $grey;
      background-image:url(~assets/img/buttons/home-btn-hover.png);
      background-position: 12px 0px;
      background-repeat: no-repeat;
      margin: 0 0 0 0;
    }

/*mmmmmmmmmmmmmmmmmmmmmmmmmmmm*/

       /* Original Artwork BTN*/
    #original_artwork nav li.original_artwork a:link {
      color: $green;
      background-image:url(~assets/img/buttons/original-artwork-btn-hover.png);
      background-repeat: no-repeat;
      margin: 0 0 0 0;
    }

     #digital_artwork nav li.original_artwork a:link {
      color: $green;
      background-image:url(~assets/img/buttons/original-artwork-btn-hover.png);
      background-repeat: no-repeat;
      margin: 0 0 0 0;
     }

     #patterns nav li.original_artwork a:link {
      color: $green;
      background-image:url(~assets/img/buttons/original-artwork-btn-hover.png);
      background-repeat: no-repeat;
      margin: 0 0 0 0;
     }

    /*#patterns nav li.patterns a:link {
      color: $grey;
      background-image:url(~assets/img/buttons/original-artwork-btn-hover.png);
      background-repeat: no-repeat;
      margin: 0 0 0 0;
    }*/

      nav li.original_artwork a:hover {
        color: $grey;
        background-image:url(~assets/img/buttons/original-artwork-btn-hover.png);
        background-repeat: no-repeat;
        margin: 0 0 0 0;
      }

      /* SHOP BTN */
      #shop nav li.shop a:link {
        color: $grey;
        margin: 0 0 0 24px;
        background-image:url(~assets/img/buttons/shop-btn-hover.png);
        background-repeat: no-repeat;
        margin: 0 0 0 0;
    }
      nav li.shop a:hover {
        color: $grey;
        margin: 0 0 0 24px;
        background-image: url(~assets/img/buttons/shop-btn-hover.png);
        background-repeat: no-repeat;
        margin: 0 0 0 0;
        height: 121px;
      }

      #contact nav li.contact a:link {
      color: $grey;
      margin: 0 0 0 24px;
      background-image:url(~assets/img/buttons/contact-btn-hover.png);
      background-repeat: no-repeat;
      margin: 0 0 0 0;
    }

      nav li.contact a:hover {
        color: $grey;
        margin: 0 0 0 24px;
        background-image:url(~assets/img/buttons/contact-btn-hover.png);
        background-repeat: no-repeat;
        margin: 0 0 0 0;
      }

       /*BLOG BTN */

    #blog nav li.blog a:link {
      color: $grey;
      background-image: url(~assets/img/buttons/blog-btn-hover.png);
      background-position: center -3px;
      background-repeat: no-repeat;
      margin: 0 0 0 0;
    }

      nav li.blog a:hover {
        color: $grey;
        background-image: url(~assets/img/buttons/blog-btn-hover.png);
        background-position: center -3px;
        background-repeat: no-repeat;
        margin: 0 0 0 0;
      }




// NAV GALL

#nav_gall ul {
  font-family: Register;
  font-size: 1em;
  height: auto;
  display:block;
  background-image:none;
  display: block;
  @include clearfix;
  margin: 0 4.5em;
}

#nav_gall ul li {
  font-family: $copy-bold, Arial, sans-serif;
  font-size: 1em;
  height: 20px;
  float: left;
  letter-spacing: 0.1em;
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .25em .5em ;
  margin: 0 1em 1em 0;

}

#nav_gall li a {
  color: $green;
  padding:.2em 0;
  border-bottom: 2px dotted $orange;
  margin: 0 0 2em 0;
}

#nav_gall li a:hover {
  color: $purple;
}

#original_artwork #nav_gall li.oe_art a {
  color: $grey;
}

#digital_artwork #nav_gall li.da_art a {
  color: $grey;
}

#patterns #nav_gall li.patt_art a {
  color: $grey;
}
