.socialIconsBox  {
  margin: 0em auto 0;
  text-align: center;
  // width: 33px;
  // margin-top: 0.5em;
  padding: 0 0.6em;
  display: block !important;

  @include breakpoint($mobile) {
    padding: 0;
  }
}

a.socialIcon {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 130%;
  display: block !important;

  @include breakpoint($mobile) {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: 130%;
    display: block !important;
  }
  .facebook {
    background-image: url(~assets/img/icons/facebook.svg);
    display: block !important;

    &:hover {
      background-image: url(~assets/img/icons/facebook_hv.svg);
      display: block !important;
    }
  }

  .instagram {
    background-image: url(~assets/img/icons/instagram.svg);
    display: block !important;

    &:hover {
      background-image: url(~assets/img/icons/instagram_hv.svg);
      display: block !important;
    }
  }

  .flickr {
    background-image: url(~assets/img/icons/flickr.svg);
    display: block !important;

    &:hover {
      background-image: url(~assets/img/icons/flickr_hv.svg);
      display: block !important;
    }
  }

  .pinterest {
    background-image: url(~assets/img/icons/pinterest.svg);
    display: block !important;

    &:hover {
      background-image: url(~assets/img/icons/pinterest_hv.svg);
      display: block !important;
    }
  }
}



